{% extends 'CoreBundle:Default:base.html.twig' %}
{% block content %}
    <h1>Lista de Salas</h1>
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Fecha de creación</th>
                <th>Ultima actualización</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for classroom in classrooms %}
            <tr>
                <td>{{ classroom.code }}</td>
                <td>{{ classroom.name }}</td>
                <td>{% if classroom.createdat %}{{ classroom.createdat|date('Y-m-d') }}{% endif %}</td>
                <td>{% if classroom.lastchange %}{{ classroom.lastchange|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('classroom_show', { 'id': classroom.id }) }}">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('classroom_edit', { 'id': classroom.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('classroom_new') }}">Crear una nueva Sala</a>
        </li>
    </ul>
{% endblock %}
