{% extends 'base.html.twig' %}

{% block body %}
    <h1>Question list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Detail</th>
                <th>Suggestion</th>
                <th>Question_type_id</th>
                <th>Created_at</th>
                <th>Created_by</th>
                <th>Showanswer</th>
                <th>Showresults</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td><a href="{{ path('question_show', { 'id': question.id }) }}">{{ question.id }}</a></td>
                <td>{{ question.title }}</td>
                <td>{{ question.detail }}</td>
                <td>{{ question.suggestion }}</td>
                <td>{{ question.questiontypeid }}</td>
                <td>{% if question.createdat %}{{ question.createdat|date('Y-m-d') }}{% endif %}</td>
                <td>{% if question.createdby %}{{ question.createdby|date('Y-m-d') }}{% endif %}</td>
                <td>{% if question.showanswer %}Yes{% else %}No{% endif %}</td>
                <td>{% if question.showresults %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('question_show', { 'id': question.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('question_edit', { 'id': question.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('question_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
