{% extends 'CoreBundle:Default:base.html.twig' %}

{% block title %}
  {{classroom.code}} : {{classroom.name}}
{% endblock %}

{% block content %}

{% if session and session.finishedat == null %}
  <div >La sección esta activida <b>{{ session.createdat|time_diff }}</b>
  {{ form_start(sessionform) }}
    <input type="submit" value="Terminar sesión">
  {{ form_end(sessionform) }}
  </div>

  {% if question %}
    <div >Existe una pregunta Activa, puedes revisarla <a href="{{path('active_question',{'id':question.id,'session':session.id,'classroom':classroom.id})}}">aquí</a>
    </div>
  {% else %}
    {# QUESTION TYPES #}
    {% for question in questiontypes %}
      <a href="{{path('active_question_new',{'type':question.id,'session':session.id})}}">{{question.name}}</a><br>
    {% endfor %}
  {% endif %}

  {% if questions %}
    <ul>
    {% for question in questions %}
        <li><a href="">{{question.title}}</a></li>
    {% endfor %}
    </ul>
  {% else %}
    <b>No existe preguntas asociadas a esta sesión.</b>
  {% endif %}

{% else%}
  {# CHECK #}
{% endif %}

{% endblock %}
