{% extends 'CoreBundle:Default:base_extend.html.twig' %}

{% block title %}Botonera: {{classroom.name}}{% endblock %}

{% block section_title %} {{classroom.name}} {% endblock %}
{% block section_subtitle %} {{classroom.code}} {% endblock %}
{% block section_action %}
La sección esta activida <b>{{ session.createdat|time_diff }}7
<a href="{{path('active_index',{'id':session.id})}}" >Volver a la Sesión</a>
{% endblock %}

{% block section_content %}
<section class="mbr-info mbr-info-extra mbr-section mbr-section-md-padding" id="msg-box1-1q" style="background-color: rgb(255, 255, 255); padding-top: 90px; padding-bottom: 90px;">
    <div class="container">
        <div class="row">
            <div class="mbr-table-md-up">
                {% if question.available == 0 %}
                      <div class="mbr-table-cell col-md-4">
                            {{form_start(questionform)}}
                              <div class="text-xs-center"><input class="btn btn-success" type="submit" value="Abrir"></div>
                            {{form_end(questionform)}}
                      </div>
                      <div class="mbr-table-cell mbr-right-padding-md-up col-md-8 text-xs-center">
                          <h2 class="mbr-info-subtitle mbr-section-subtitle">Puedes volver a publicar la pregunta. Esta acción solo se puede realizar siempre y cuando no exista otra pregunta activa.</h2>
                          <h3 class="mbr-info-title mbr-section-title display-2">Abrir pregunta.</h3>
                      </div>
                {% else %}
                      <div class="mbr-table-cell col-md-4">
                            {{form_start(questionform)}}
                            <div class="text-xs-center"><input class="btn btn-danger" type="submit" value="Cerrar"></div>
                            {{form_end(questionform)}}
                      </div>
                      <div class="mbr-table-cell mbr-right-padding-md-up col-md-8 text-xs-center">
                          <h2 class="mbr-info-subtitle mbr-section-subtitle">Al cerrar la pregunta los estudiantes no pueden enviar sus respuesta. La pregunta se puede volver a abrir siempre y cuando no exista otra pregunta activa.</h2>
                          <h3 class="mbr-info-title mbr-section-title display-2">Cerrar la Pregunta.</h3>
                      </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<section class="mbr-section" id="pricing-table2-1s" style="background-color: rgb(255, 255, 255); padding-top: 0px; padding-bottom: 0px;">
    <div class="mbr-section mbr-section__container mbr-section__container--middle">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 text-xs-center">
                  <h3 class="mbr-section-title display-2">{{question.title}}</h3>
                  <small class="mbr-section-subtitle">{{question.detail}}</small>
              </div>
          </div>
      </div>
    </div>
    <div class="mbr-section mbr-section-nopadding mbr-price-table">
      <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-12 col-xl-6 col-xl-offset-3">
                <div class="mbr-plan card text-xs-center">
                    <div class="mbr-plan-body card-block">
                      <div class="mbr-plan-list">
                          <ul class="list-group list-group-flush">
                              {% for option in question.options %}
                                  <li class="list-group-item">
                                    {% if option.iscorrect == true %}<span class="label label-success">Correcta</span>
                                    {% endif %}
                                     {{option.detail}}
                                  </li>
                              {% endfor %}
                          </ul>
                      </div>
                    </div>
                </div>
            </div>
          </div>
    </div>
</section>
<section class="mbr-section" id="pricing-table2-1v" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 0px;">
    <div class="mbr-section mbr-section__container mbr-section__container--middle">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 text-xs-center">
                  <h3 class="mbr-section-title display-2">Resultados</h3>
                  <small class="mbr-section-subtitle">Periodicamente se actualiza la tabla de resultados dependiendo de las respuesta de las Estudiantes.</small>
              </div>
          </div>
      </div>
    </div>
    <div class="mbr-section mbr-section-nopadding mbr-price-table">
      <div class="row">


            <div class="col-xs-12 col-md-6 col-xl-6">
                <div class="mbr-plan card text-xs-center">
                    <div class="mbr-plan-header card-block">

                      <div class="card-title">
                        <h3 class="mbr-plan-title">Detalle de la Pregunta</h3>
                        <small class="mbr-plan-subtitle"></small>
                      </div>
                      <div class="card-text">
                          <div class="mbr-price">
                            <span class="mbr-price-value">$</span>
                            <span class="mbr-price-figure">0</span><small class="mbr-price-term">/mo.</small>
                          </div>
                          <small class="mbr-plan-price-desc">More details</small>
                      </div>
                    </div>
                    <div class="mbr-plan-body card-block">
                      <div class="mbr-plan-list"><ul class="list-group list-group-flush"><li class="list-group-item">32 GB storage</li><li class="list-group-item">Unlimited users</li><li class="list-group-item">15 GB bandwidth</li></ul></div>

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-xl-6">
                <div class="mbr-plan card text-xs-center">
                    <div class="mbr-plan-header card-block">

                      <div class="card-title">
                        <h3 class="mbr-plan-title">Resultados</h3>
                        <small class="mbr-plan-subtitle"></small>
                      </div>
                      <div class="card-text">
                          <div class="mbr-price">
                            <span class="mbr-price-value">$</span>
                            <span class="mbr-price-figure">0</span><small class="mbr-price-term">/mo.</small>
                          </div>
                          <small class="mbr-plan-price-desc">More details</small>
                      </div>
                    </div>
                    <div class="mbr-plan-body card-block">
                      <div class="mbr-plan-list"><ul class="list-group list-group-flush"><li class="list-group-item">Pregunta 1&nbsp;</li><li class="list-group-item">Pregunta 2</li><li class="list-group-item">Pregunta 3</li></ul></div>

                    </div>
                </div>
            </div>
          </div>
    </div>
</section>
{% endblock %}

{% block script %}
<script type="text/javascript">
function validarEsCorrectoVOF(id){
    var check = $("#"+id);

}
</script>
{% endblock %}
