{% extends 'CoreBundle:Default:base.html.twig' %}

{% block content %}
    <h1>Clase # {{classroom.id}}</h1>
    <h3>{{classroom.code}} : {{classroom.name}}</h3>
    <hr>
    <table>
        <tbody>
            <tr>
                <th>Created_at</th>
                <td>{% if classroom.createdat %}{{ classroom.createdat|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Lastchange</th>
                <td>{% if classroom.lastchange %}{{ classroom.lastchange|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    {# GENERAL OPTIONS #}
    <ul>
      <li><a href="#">Estudiantes</a></li>
      <li><a href="#">Grupos</a></li>
    </ul>
    {# QUESTION TYPES #}
    {% if questiontype %}
      <table class="">
        <tr>
            <th>Nombre</th>
            <td>{{questiontype.name}}</td>
        </tr>
        <tr>
            <th>Explicacion</th>
            <td>{{questiontype.explanation}}</td>
        </tr>
      </table>
    {%  endif %}
    {# QUESTION FORM #}

    {{ form_start(form) }}
        <input type="submit" value="Publicar">
    {{ form_end(form) }}

{% endblock %}
