{% extends 'base.html.twig' %}

{% block body %}
    <h1>Session list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Created_at</th>
                <th>Finished_at</th>
                <th>Classroom_id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td><a href="{{ path('session_show', { 'id': session.id }) }}">{{ session.id }}</a></td>
                <td>{% if session.createdat %}{{ session.createdat|date('Y-m-d') }}{% endif %}</td>
                <td>{% if session.finishedat %}{{ session.finishedat|date('Y-m-d') }}{% endif %}</td>
                <td>{{ session.classroomid }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('session_show', { 'id': session.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('session_edit', { 'id': session.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('session_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
